
#three{
  text-align: center;
  z-index: -1!important;
  background-color: #F4F5F7;
  .articles-block{
    padding-top: 80px;
    padding-bottom: 80px;
    .articles__header{
      margin: 0;
      font-style: normal;
      font-weight: 100;
      font-size: 40px;
      line-height: 64px;
      letter-spacing: -0.714286px;
      color: $header-color;
    }
    .articles-list{
      @include reset-list;
      margin-top: 42px;
      display: flex;
      justify-content: space-between;
      .articles-list__item{
        width: 255px;
        background-color: #fff;
        overflow: hidden;
        transition: all .4s ease-in-out;
        &:hover{
          background: rgba(170, 254, 198, 0.3);
          z-index: 0;
          box-shadow: 0 8px 40px -10px rgb(3, 117, 41);
        }

        .articles-list__username{
          //margin-left: 24px;
        }
        .articles-list__mini-header{
          margin: 0 24px;
          color: $header-color;
          font-style: normal;
          font-weight: 100;
          font-size: 16px;
          line-height: 20px;
          letter-spacing: -0.285714px;
        }
        .articles-list__text{
          margin-left: 24px;
          margin-right: 24px;
          font-style: normal;
          font-weight: normal;
          font-size: 13px;
          line-height: 18px;
          letter-spacing: -0.203125px;
          color: $text-color;
        }
      }
    }
  }
}
@include breakpoint-down (585px) {
  z-index: -1!important;
  .articles__header{
    text-align: right!important;
  }
  .articles-list{
    @include reset-list;
    margin-top: 42px;
    display: block;
    flex-wrap: wrap;
    justify-content: space-between;
    .articles-list__item{
      display: block!important;
      width: 90%!important;
      margin-left: auto;
      margin-right: auto;
      margin-top: 24px;
      .articles-list__img{
        width: 100%;
      }

      .articles-list__username{
        margin-left: 24px;
        margin-right: 24px!important;
      }
      .articles-list__mini-header{
        margin: 0 24px;
        color: $header-color;
        font-style: normal;
        font-weight: 100;
        font-size: 16px;
        line-height: 20px;
        letter-spacing: -0.285714px;
      }
      .articles-list__text{
        margin-left: 24px;
        margin-right: 24px;
        font-style: normal;
        font-weight: normal;
        font-size: 13px;
        line-height: 18px;
        letter-spacing: -0.203125px;
        color: $text-color;
      }
    }
  }
}

@include breakpoint-between (585px, 735px) {
  z-index: -1!important;
  .articles__header{
    text-align: center;
  }
  .articles-list{
    @include reset-list;
    margin-top: 42px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    .articles-list__item{
      display: block!important;
      width: 45%!important;
      margin-left: auto;
      margin-right: auto;
      margin-top: 24px;
      .articles-list__img{
        width: 100%;
      }

      .articles-list__username{
        margin-left: 24px;
      }
      .articles-list__mini-header{
        margin: 0 24px;
        color: $header-color;
        font-style: normal;
        font-weight: 100;
        font-size: 16px;
        line-height: 20px;
        letter-spacing: -0.285714px;
      }
      .articles-list__text{
        margin-left: 24px;
        margin-right: 24px;
        font-style: normal;
        font-weight: normal;
        font-size: 13px;
        line-height: 18px;
        letter-spacing: -0.203125px;
        color: $text-color;
      }
    }
  }
}

@include breakpoint-between (735px, 959.9px) {
  z-index: -1!important;

  .articles__header{
    text-align: center;
  }
  .articles-list {
    @include reset-list;
    margin-top: 42px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  .articles-list__item {
    width: 340px!important;
    margin-top: 24px;
    margin-left: auto;
    margin-right: auto;
    img{
      width: 100%;
    }
  }
}
@include breakpoint-between (960px, 1250px) {
  z-index: -1!important;
  .articles__header{
    text-align: center;
  }
  .articles-list {
    @include reset-list;
    margin-top: 42px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  .articles-list__item {
    width: 23%!important;
    margin-top: 24px;
    margin-left: auto;
    margin-right: auto;
    img{
      width: 100%;
    }
  }
}