$btn-bgColor : #33D35E;
$two-bgColor:  #2AB6D9;
$text-color: #9597A5;
$header-color: #2D314D;
*{
  font-family: "Public Sans", sans-serif;
}
  #one{
    background-color: #F4F5F7;
    position: relative;
    .background{
      width: 800px;
      height: 643px;
      position: absolute;
      top: 0;
      right: 0;
      background: {
        image: url("/img/hero-bg.svg");
        repeat: no-repeat;
        size: cover;
        position: center top -70px;

      };
      .background__img{
        width: 640px!important;
        height: 890px!important;
        transform: translateY(-75px) translateX(160px);
        z-index: 0;
      }
    }
    .wrapperOne{
      z-index: 1;
    .generation-block{
      padding-top: 170px;
      padding-bottom: 178px;
      width: 477px;
      .generation__header{
        color: $header-color;
        margin: 0;
      }
      .generation__text{
        color: $text-color;
        font-style: normal;
        font-weight: normal;
        font-size: 18px;
        line-height: 28px;
        letter-spacing: -0.28125px
      }
      .generation-btn{
        @include site-btn;
        background-image: linear-gradient(90deg, $btn-bgColor,  $two-bgColor);
        margin-top: 36px;
        &:hover{
          background-image: linear-gradient(90deg, $two-bgColor,  $btn-bgColor);
        }
        &:active{
          background-image: linear-gradient(90deg, #089abf, #03952b);
        }
      }
    }


    }
  }
