

footer{
  height: 191px;
  padding-top: 48px;
  padding-bottom: 48px;
  background-color: #2D314D;
  .footer{
    display: flex;
    .footer__left{
      //margin-right: auto;
      .left__inner{
        display: flex;
        @include reset-list;
        .left__item{
          margin-top: 53px;
          margin-left: 13px;
          transition: all .3s ease-in-out;
          &:hover{
            transform: scale(1.2);
          }
          &:first-child{
            margin-left: 0;
          }
        }
      }
    }
    .footer__center{
      display: flex;
      margin-left: 131px;
      margin-right: auto;
      .center__inner{
        @include reset-list;
        &:last-child{
          margin-left: 120px;
        }
        .center__item{
          margin-bottom: 9px;
          .center__link{
            text-decoration: none;
            color: #fff;
            font-style: normal;
            font-weight: normal;
            font-size: 15px;
            line-height: 26px;
            letter-spacing: -0.234375px;
            &:hover{
              color: #33D35E;
              transform: scale(1.1);
            }
            &:active {
              color: #028327;
            }
          }
        }

      }
    }
    .footer__right{
      text-align: right;
      .footer__btn{
        @include site-btn;
        background: linear-gradient(135deg, #33D35E 0%, #2AB6D9 99.58%);
        margin-bottom: 24px;
        &:hover{
          background-image: linear-gradient(135deg, $two-bgColor,  $btn-bgColor);
        }
        &:active{
          background-image: linear-gradient(135deg, #089abf, #03952b);
        }
      }
      address{
        font-style: normal;
        font-weight: normal;
        font-size: 15px;
        line-height: 26px;
        text-align: right;
        letter-spacing: -0.234375px;
        color: #FFFFFF;
      }
    }
  }
}