

#twoo{
  background-color: #F2F2F2;
  z-index: -1!important;
  padding-bottom: 30px;
  //transform: translateY(-50px);
  .simple{

    .simple__choose{
      width: 600px;
      padding-top: 96px;
      padding-bottom: 72px;
      color: $text-color;
      .choose__header{
        margin: 0;
        color: $header-color;
        font-style: normal;
        font-weight: 100;
        font-size: 40px;
        line-height: 64px;
      }
      .choose__text{
        font-style: normal;
        font-weight: normal;
        font-size: 18px;
        line-height: 28px;
      }
    }
    .simple__inner{
      @include reset-list;
      display: flex;
      justify-content: space-between;
      padding-bottom: 50px;
      .site-item{
        width: 255px;
        .site-item_img{
          margin-bottom: 40px;
        }
        .site-item__header{
          margin: 0;
          color: $header-color;
          font-style: normal;
          font-weight: 100;
          font-size: 24px;
          line-height: 28px;
          letter-spacing: -0.428571px;
        }
        .site-item__text{
          color: $text-color;
          font-style: normal;
          font-weight: normal;
          font-size: 16px;
          line-height: 26px;
          letter-spacing: -0.25px;
          margin-bottom: 0!important;
        }
      }
    }
  }
}
@include breakpoint-down (585px) {
  .simple{

  }
  .simple__choose{
    padding-top: 64px!important;
    text-align: center;
    width: 80%!important;
    margin-bottom: 0!important;
    padding-bottom: 0!important;
    margin-left: auto;
    margin-right: auto;
  }
  .simple__inner{
    display: block!important;
  }
  .simple__item{
    text-align: center;
    width: 90%!important;
    margin-top: 60px;
    margin-left: auto;
    margin-right: auto;

  }
  .site-item_img{
    margin-bottom: 12px!important;
  }
}
@include breakpoint-between (585px, 735px) {
  .simple__choose{
    padding-top: 64px!important;
    text-align: center;
    width: 80%!important;
    margin-bottom: 0!important;
    padding-bottom: 0!important;
    margin-left: auto;
    margin-right: auto;
  }
  .simple__inner{
    display: flex!important;
    flex-wrap: wrap;
  }
  .simple__item{
    text-align: center;
    width: 40%!important;
    margin-top: 60px;
    margin-left: auto;
    margin-right: auto;
  }
}
@include breakpoint-between (735px, 959.9px) {
  .simple__choose{
    padding-top: 64px!important;
    text-align: center;
    width: 60%!important;
    margin-bottom: 0!important;
    padding-bottom: 0!important;
    margin-left: auto;
    margin-right: auto;
  }
  .simple__inner{
    display: flex!important;
    flex-wrap: wrap;
  }
  .simple__item{
    width: 340px!important;
    text-align: center;
    //width: 40%!important;
    margin-top: 60px;
    margin-left: auto;
    margin-right: auto;
  }
}

@include breakpoint-between (960px, 1250px) {
  .simple__choose{
    padding-top: 64px!important;
    text-align: center;
    width: 60%!important;
    margin-bottom: 0!important;
    padding-bottom: 0!important;
    margin-left: auto;
    margin-right: auto;
  }
  .simple__inner{
    display: flex!important;
    flex-wrap: wrap;
  }
  .simple__item{
    width: 23%!important;
    text-align: center;
    //width: 40%!important;
    margin-top: 60px;
    margin-left: auto;
    margin-right: auto;
  }
}